<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-5">
        <h2>
          <%= @location.name %>
        </h2>

        <%= image_tag @location.image.medium.url %>

        <p>
          <strong>Address:</strong>
          <%= @location.address %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @location.phone %>
        </p>

        <p>
          <strong>Website:</strong>
          <%= link_to @location.website, @location.website %>
        </p>
        <%= link_to 'Edit', edit_location_path(@location), class: "btn btn-link" %> |
        <%= link_to 'Back', locations_path, class: "btn btn-link" %>

        <%= link_to "Write a Review", new_location_review_path(@location), class: "btn btn-primary" %><br>
      </div>
      <div class="col-lg-7">
        <h3>Reviews</h3>
        <% if @reviews.blank? %>
          <h4>No reviews yet. Be the first to write one!</h4>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <p><%= review.comment %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
