<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-5">
        <h2>
          <%= @location.name %>
        </h2>
        <div class="star-rating" data-score=<%= @avg_rating %>></div>
        <p>Number of Reviews: <%= @reviews.length %></p>

        <%= image_tag @location.image.medium.url %>

        <p>
          <strong>Address:</strong>
          <%= @location.address %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @location.phone %>
        </p>

        <p>
          <strong>Website:</strong>
          <%= link_to @location.website, @location.website %>
        </p>
        <%= link_to 'Edit', edit_location_path(@location), class: "btn btn-link" %> |
        <%= link_to 'Back', locations_path, class: "btn btn-link" %>

        <%= link_to "Write a Review", new_location_review_path(@location), class: "btn btn-primary" %><br>
      </div>
      <div class="col-lg-7">
        <h3>Reviews</h3>
        <% if @reviews.blank? %>
          <h4>No reviews yet. Be the first to write one!</h4>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <p><%= h(review.comment).gsub(/\n/, '<br>').html_safe %></p>
            <h5><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize[0] %>. | <%= review.created_at.strftime("%-m/%-d/%-y") %></h5>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/rr2maribucket/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
